<!DOCTYPE html>
<html>
<head>
        {{ partial "head.html" . }}
{{/*    TODO: find a way to get this to work inside o*/}}
    <style>
        a { color: #ffd600; } /* CSS link color */
    </style>
</head>
<body>
{{ partial "header.html" . }}

{{ partial "intro.html"}}
<div class="center-align">
        <ul>
                {{ range first 5 (where site.RegularPages "Type" "in" site.Params.mainSections).ByTitle  }}
                    <h5 class="alt-a-yellow"><a  href={{ .Permalink }}>{{ .Title }}</a></h5>
                {{ end }}
        </ul>
</div>
{{ partial "footer.html" . }}
</body>
</html>