<h1 class="center-align">Welcome to Cesar Chavez Park</h1>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">more_vert</i></a>
            <ul class="right hide-on-med-and-down">
                {{ range .Data.Pages }}
                    {{ if eq .Type "page" }}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-menu">
        {{ range .Data.Pages }}
            {{ if eq .Type "page" }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
    </ul>