<div class="center-align row">
    <h1>Cesar Chavez Park</h1>
</div>
    <nav>
        <div class="nav-wrapper red darken-4">
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">more_vert</i></a>
            <ul class="right hide-on-med-and-down">
                {{ range .Data.Pages }}
                    {{ if eq .Type "page" }}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-menu">
        {{ range .Data.Pages }}
            {{ if eq .Type "page" }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
    </ul>